node_modules/
dist/
*.tsbuildinfo
*.db
*.db-journal
*.db-wal
.env
.DS_Store
card-art/commander/*.jpg
card-art/commander/*.png
card-art/commander/*.gif
card-art/commander/*.webp
card-art/dps/*.jpg
card-art/dps/*.png
card-art/dps/*.gif
card-art/dps/*.webp
card-art/wizard/*.jpg
card-art/wizard/*.png
card-art/wizard/*.gif
card-art/wizard/*.webp
card-art/sorcerer/*.jpg
card-art/sorcerer/*.png
card-art/sorcerer/*.gif
card-art/sorcerer/*.webp
card-art/crafter/*.jpg
card-art/crafter/*.png
card-art/crafter/*.gif
card-art/crafter/*.webp
